*.swp
*.swo
vim/view
*.pyc
vim/.netrwhist
*.hi
*.o
xmonad-i386-linux
xmonad-x86_64-linux
*.errors
pentadactyl/info/default/command-history
pentadactyl/info/default/local-marks
pentadactyl/info/default/registers
pentadactyl/info/default/register-ring
/emacs.d/ac-comphist.dat
/emacs.d/image-dired
