*.swp
*.swo
vim/view
*.pyc
vim/.netrwhist
*.hi
*.o
xmonad-i386-linux
xmonad-x86_64-linux
*.errors
pentadactyl/info/default/command-history
pentadactyl/info/default/local-marks
pentadactyl/info/default/registers
pentadactyl/info/default/register-ring
/emacs.d/ac-comphist.dat
/emacs.d/image-dired
/emacs.d/init-local.org
/emacs.d/init-local-pre.org
/emacs.d/bbdb
/texmf/ls-R
/emacs.d/el-get-local.el
/emacs.d/snippets-local/
/emacs.d/recentf
/emacs.d/projectile-bookmarks.eld
/emacs.d/projectile.cache
/emacs.d/request/
/emacs.d/var/
/emacs.d/init-mu4e.org
/pentadactyl/info/default/cache
/vimperator/info/default/quickmarks
/vimperator/info/default/history-command
/vimperator/info/default/history-search
/vimperator/info/default/local-marks
/vimperator/info/default/macros
/emacs.d/.cask/
/emacs.d/.python-environments/
emacs.d/abbrev_defs
*.retry
/emacs.d/.persistent-scratch
/emacs.d/eshell
/emacs.d/magithub
/emacs.d/network-security.data
/emacs.d/persp-confs
