[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vimoutliner"]
	path = vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = https://github.com/bingaman/vim-sparkup.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = https://github.com/jezcope/vim-align.git
[submodule "vim/bundle/colors-solarized"]
	path = vim/bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "texmf/tex/latex/uniofbath"]
	path = texmf/tex/latex/uniofbath
	url = jc619@lcpu.bath.ac.uk:git/uniofbath-latex
[submodule "vim/bundle/xml"]
	path = vim/bundle/xml
	url = https://github.com/othree/xml.vim.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/jezcope/oh-my-zsh.git
[submodule "texmf/tex/latex/beamer-uob"]
	path = texmf/tex/latex/beamer-uob
	url = http://github.com/jezcope/beamer-uob.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "vim/bundle/pandoc"]
	path = vim/bundle/pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "emacs.d/recipes"]
	path = emacs.d/recipes
	url = git@github.com:jezcope/el-get-recipes
[submodule "texmf/tex/latex/personal"]
	path = texmf/tex/latex/personal
	url = git@bitbucket.org:jezcope/latex-personal.git
